#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.playlist-title {
  text-align: center;
}

.menu-item {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: small;
}

.menu-checkbox {
  margin-right: 5px;
  margin-left: 0px;
}
