#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.playlist-title {
  text-align: center;
  font-weight: 400 !important;
  font-size: 15px !important;
  color: black !important;
  background-color: white;
  box-shadow: rgba(122, 122, 122, 0.2) 0px 2px 8px 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-item {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: small;
  /* box-shadow: rgba(122, 122, 122, 0.2) 0px 2px 8px 0px; */
}

.menu {
  z-index: 5 !important;
}

.menu-checkbox {
  margin-right: 24px;
}

.react-player {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin: 0;
}

.description-span {
  white-space: pre-wrap;
}

.ant-layout-sider {
  background-color: white !important;
}
