*{
    margin: 0;
    padding: 0;

  }

  .very-center {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }
  .heading{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    text-shadow: 2px 2px 2px #CCCCCC;
    margin: -90px 0 40px 0px;
  }
  .video-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    justify-content: center;
  }

  .video{
    display: flex;
    flex-direction: row;
    margin-left:10px;

  }

  .video > .icon{
    margin-right: 10px;
    margin-top: 70px;
  }

  .webd{
    margin-top: 5%;
    margin-bottom: 25%;
  }

  .machine-learning{
    margin-bottom: 15%;
  }