@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300:400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.nav-li,
.nav-a,
.nav-button {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #000 !important;
  margin-top: 15px;
}

.active {
  color: #000;
}

/* .parent {
  position: fixed;
  top: 0;
} */

.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  padding-right: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  z-index: 5;
}

.logo {
  cursor: pointer;
  width: 110px;
  padding: 10px;
  padding-bottom: 15px;
}

.nav__links {
  list-style: none;
}

.nav__links .nav-li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links .nav-li .nav-a {
  transition: all 0.3s ease 0s;
}

.nav__links .nav-li .nav-a:hover {
  color: gray !important;
}
.signout-icon {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.signout-icon:hover {
  cursor: pointer;
  color: gray;
}

.nav-button {
  padding: 9px 25px;
  border: none;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.nav-button:hover {
  color: gray !important;
}

.sticky {
  position: fixed;
  top: 0;
}
