@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300:400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

li,
a,
button {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  margin-top: 15px;
}

.active {
  color: #000;
}

/* .parent {
  position: fixed;
  top: 0;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  padding-right: 2px;
  background-color: white;
}

.logo {
  cursor: pointer;
  width: 110px;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: gray;
}
.signout-icon {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.signout-icon:hover {
  cursor: pointer;
  color: gray;
}

button {
  padding: 9px 25px;
  border: none;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: gray;
}

.sticky {
  position: fixed;
  top: 0;
}
