* {
  margin: 0;
  padding: 0;
}

.very-center {
  padding-top: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.container {
  padding-top: 100px;
}

.displaybar {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 20px;
}
.playlist-item {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.anticon-search {
  display: none;
}

.explorer-title {
  text-align: center;
}
