* {
    margin: 0;
    padding: 0;
  }
  
  .very-center {
    padding-top: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
  }

.displaybar{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 20px;
}