@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins";
}

*::-webkit-scrollbar {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300 !important;
}

.very-center {
  padding-top: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.ant-card {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px !important;
  transition: ease 0.3s !important;
  border-radius: 5px !important;
}
.ant-card:hover,
.ant-card-bordered:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.247) 0px 3px 7px -3px !important;
}

.ant-menu-item,
.menu-item {
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px !important; */
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  /* box-shadow: rgba(73, 73, 136, 0.25) 0px 6px 12px -2px,
    rgba(100, 100, 100, 0.3) 0px 3px 7px -3px; */
  transition: ease 0.3s !important;
  border-radius: 5px !important;
}
.ant-menu-item:hover,
.menu-item:hover {
  box-shadow: rgba(116, 116, 116, 0.219) 0px 1px 3px,
    rgba(172, 172, 172, 0.24) 0px 1px 2px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.247) 0px 3px 7px -3px !important; */
}

body {
  /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
  background: #eff2f5 !important;
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
