@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.footer {
  z-index: -1;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 10px;
  width: 100%;
  text-align: center;
  background-color: white;
}

.red {
  color: #ff0000;
}

.name-us {
  color: gray !important;
}
.name-us:hover {
  color: black;
}
